padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);

& when (@bg-type = 'color') {
  background-color: @bg-value;
}

& when (@bg-type = 'image') {
  background-image: url(@bg-value);
}

.showAlerts {
  display: block !important;
}

.mbr-section-subtitle {
  color: #767676;
}

.form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.input-group-btn .btn {
  margin: 0 !important;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}

@media (max-width: 768px) {

  .mbr-form .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }

  .form-group, .input-group-btn, .input-group-btn .btn {
    max-width: 300px;
    width: 100%;
  }

  .rcpContainer {
    margin-top: 1rem !important;
  }
}

.mbr-section-terms {
  text-align: center;
  margin-bottom: 0px;
}

.alert {
  margin-bottom: 0;
}

.alert-success {
  background-color: @bgColorSuccess;
}

.alert-danger {
  background-color: @bgColorError;
}

.rcpContainer {
  width: 304px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.mbr-alert-success {
  text-align: left;
  color: #ffffff;
}

.mbr-alert-danger {
  text-align: left;
  color: #ffffff;
}